---
import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import MailIcon from "../icons/Mail.astro";
import CodeIcon from "../icons/Code.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Briefcase from "../icons/Briefcase.astro";
import Projects from "../components/Projects.astro";
import AboutMe from "../components/AboutMe.astro";
import ProfileCheck from "../icons/ProfileCheck.astro";
import People from "../components/People.astro";
import Coworker from "../icons/Coworker.astro";
import CV from "../icons/CV.astro";
import Certificate from "../components/Certificate.astro";
import IconCertificate from "../icons/IconCertificate.astro";
import SkillsList from "../components/SkillsList.astro";
---

<!-- En Hola, soy Sebastian, antes estaba mb-4 -->
<Layout
  title="Sebastian Landeo - Portafolio - Ingeniero de Software, Análisis de Datos e IA"
  description="Portafolio personal de Sebastian Landeo, ingeniero de software especializado en análisis de datos e inteligencia artificial. Explora mis proyectos y habilidades."
>
  <main class="px-4">
    <SectionContainer
      class="pt-20 pb-32 md:pt-32 md:pb-44 min-h-screen flex items-center justify-center"
    >
      <div class="flex flex-col w-full max-w-6xl mx-auto">
        <!-- Contenido principal centrado -->
        <div
          class="flex flex-col md:flex-row items-center md:items-start gap-20 w-full"
        >
          <div class="flex-1">
            <div class="flex justify-center md:justify-start mb-7">
              <a
                href="https://www.linkedin.com/in/sebastian-landeo-cuentas"
                target="_blank"
                rel="noopener"
                class="transition md:hover:scale-105"
              >
                <Badge>Disponible para trabajar</Badge>
              </a>
            </div>
            <h1
              class="text-green-900 dark:text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row justify-center md:justify-start gap-x-4 pb-6 lg:pb-10"
            >
              Hola, soy Sebastian
            </h1>
            <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px] font-sans text-black dark:text-white">
              Como Ingeniero de Software, transformo datos en conocimiento para impulsar decisiones inteligentes.
              Especializado en las áreas de <span
                class="text-green-500 dark:text-yellow-200/90"
                >Análisis de Datos</span
              > e <span class="text-green-500 dark:text-yellow-200/90"
                >Inteligencia Artificial</span
              > para la toma de decisiones.
            </h2>

            <!-- class="w-6 h-6" = class="size-6"-->
            <nav class="flex gap-4 mt-8 flex-wrap justify-center md:justify-start text-black dark:text-white">
              <SocialPill
                href="https://www.linkedin.com/in/sebastian-landeo-cuentas"
              >
                <LinkedInIcon class="size-4 md:size-6" />
                LinkedIn
              </SocialPill>
              <SocialPill href="mailto:sebastian.landeo@unmsm.edu.pe">
                <MailIcon class="size-4 md:size-7" />
                Contáctame
              </SocialPill>
              <SocialPill
                href="/documents/CV- Sebastian Landeo - AD - Principal.pdf"
                download="CV-Sebastian-Landeo.pdf"
              >
                <CV class="size-4 md:size-7" />
                Descargar
              </SocialPill>
            </nav>
          </div>
          <div class="flex-shrink-0 mt-10">
            <img
              class="rounded-lg w-48 h-60 md:w-56 md:h-72 lg:w-64 lg:h-80 object-cover shadow-lg"
              src="/sebastian2.jpg"
              alt="Sebastian Landeo - Foto de perfil"
            />
          </div>
        </div>

        <!-- SkillsList en un contenedor separado -->
        <div class="w-full">
          <SkillsList />
        </div>
      </div>
    </SectionContainer>
  </main>

  <SectionContainer id="experiencia" class="mb-20">
    <h2
      class="text-green-900 dark:text-white flex items-center justify-center md:justify-start mb-6 !text-lg md:!text-xl font-semibold gap-x-3"
    >
      <Briefcase class="w-7 h-7" />
      Experiencia Laboral
    </h2>
    <Experience />
  </SectionContainer>

  <SectionContainer id="proyectos" class="mb-20">
    <h2
      class="text-green-900 dark:text-white flex items-center justify-center md:justify-start mb-6 text-xl md:text-3xl font-semibold gap-x-3"
    >
      <CodeIcon class="w-7 h-7" />
      Proyectos
    </h2>
    <Projects />
  </SectionContainer>

  <SectionContainer id="people" class="mb-20">
    <h2
      class="text-green-900 dark:text-white flex items-center justify-center md:justify-start mb-6 text-3xl font-semibold gap-x-3"
    >
      <Coworker class="w-7 h-7" />
      Referencias
    </h2>
    <People />
  </SectionContainer>

  <SectionContainer id="sobre-mi" class="mb-20">
    <h2
      class="text-green-900 dark:text-white flex items-center justify-center md:justify-start mb-6 text-3xl font-semibold gap-x-3 mx-4"
    >
      <ProfileCheck class="size-7" />
      Sobre mí
    </h2>
    <AboutMe />
  </SectionContainer>

  <SectionContainer id="certificados" class="mb-20">
    <h2
      class="text-green-900 dark:text-white flex items-center justify-center md:justify-start mb-6 text-3xl font-semibold gap-x-3"
    >
      <IconCertificate class="size-7" />
      Certificados
    </h2>
    <Certificate />
  </SectionContainer>
</Layout>
