---
import { date } from "astro:schema";
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Febrero 2025 – Julio 2025",
    title: "Analista de datos",
    company: "Vicerrectorado de Investigación y Posgrado en la UNMSM",
    description:
      "Implementé soluciones automatizadas de extracción de datos web utilizando Python, transformando la información recolectada en formatos estructurados. Apliqué modelos de lenguaje (LLM) para optimizar la transformación de datos y la creación de grafos en artículos de investigación. Además, desarrollé consultas SQL complejas para la obtención de datos relacionados con autores y tesis. Automatizé la generación de referencias bibliográficas de tesis y artículos científicos, y facilité la extracción eficiente de datos desde documentos académicos.",
  },
  {
    date: "Julio 2024 – Diciembre 2024",
    title: "FreeLancer",
    company: "Desarrollador de Automatizaciones",
    description:
      "Garanticé la efectiva transmisión de conocimientos en tecnologías de la información y comunicación (TIC) mediante una comunicación clara y precisa. Colaboré activamente en equipo en tareas de registro, mantenimiento y verificación de computadoras, contribuyendo al desarrollo de un entorno de aprendizaje tecnológico sólido y funcional..",
  },
  {
    date: "Abril 2023 – Julio 2023",
    title: "Voluntariado",
    company: "Educación en Colegios Vecinos a la UNMSM",
    description: 
        "Garanticé la efectiva transmisión de conocimientos en tecnologías de la información y comunicación (TIC) mediante una comunicación clara y precisa. Colaboré activamente en equipo en tareas de registro, mantenimiento y verificación de computadoras, contribuyendo al desarrollo de un entorno de aprendizaje tecnológico sólido y funcional.",       
  }
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
