<header class="fixed top-0 left-0 right-0 z-50 bg-white/80 dark:bg-gray-900/80 backdrop-blur-sm w-full py-3 md:py-5">
    <div class="flex flex-col md:flex-row justify-center items-center xl:w-[1120px] mx-auto px-4">
        <nav class="flex flex-row gap-4 md:gap-x-6 lg:gap-x-10 opacity-80 text-center">
            <a href="#top">Inicio</a>
            <a href="#experiencia">Experiencia</a>
            <a href="#proyectos">Proyectos</a>
            <a href="#people">Colegas</a>
            <a href="#sobre-mi">Sobre mí</a>
        </nav>
    </div>
</header>