<header
  class="fixed top-0 left-0 right-0 z-50 bg-blue-800 dark:bg-gray-900/80 backdrop-blur-sm w-full py-3 md:py-5"
>
  <div
    class="flex flex-col md:flex-row justify-center items-center xl:w-[1120px] mx-auto px-4"
  >
    <nav
      class="flex flex-row flex-wrap justify-center gap-2 md:gap-x-6 lg:gap-x-10 opacity-80 text-center"
    >
      <a
        href="#top"
        class="text-white hover:text-yellow-400 transition-colors duration-200 text-sm md:text-base">Inicio</a
      >
      <a
        href="#experiencia"
        class="text-white hover:text-yellow-400 transition-colors duration-200 text-sm md:text-base"
        >Experiencia</a
      >
      <a
        href="#proyectos"
        class="text-white hover:text-yellow-400 transition-colors duration-200 text-sm md:text-base"
        >Proyectos</a
      >
      <a
        href="#people"
        class="text-white hover:text-yellow-400 transition-colors duration-200 text-sm md:text-base">Referencias</a
      >
      <a
        href="#sobre-mi"
        class="text-white hover:text-yellow-400 transition-colors duration-200 text-sm md:text-base">Sobre mí</a
      >
      <a
        href="#certificados"
        class="text-white hover:text-yellow-400 transition-colors duration-200 text-sm md:text-base"
        >Certificados</a
      >
    </nav>
  </div>
</header>