<header class="flex flex-col md:flex-row md:justify-between items-center w-full py-3 md:py-5 xl:w-[1120px] mx-auto">
    <img class="rounded-full w-8 h-8 md:w-12 md:h-12 mb-4 md:mb-0" src="/sebastian.jpg" alt="sebastian photo">
    <nav class="flex flex-col md:flex-row gap-4 md:gap-x-6 lg:gap-x-10 opacity-80 text-center">
        <a href="#top">Inicio</a>
        <a href="#experiencia">Experiencia</a>
        <a href="#sobre-mi">Sobre mí</a>
        <a href="#proyectos">Proyectos</a>
        <a href="#contacto">Contacto</a>
    </nav>
</header>