---
import CardPeople from "./CardPeople.astro";
---

<section id="testimonio" class="testimonial-section">
  <div class="slider">
    <div class="slide-track">
      <CardPeople
        link="https://www.linkedin.com/in/kenneth-evander-ortega-moran-532812238/"
        image="../../sebastian.jpg"
        name="Kenneth Ortega M."
        work="Cybersecurity"
        description="Sebastian es un alumno ejemplar y se desempeña bien en el área de ingeniería, impartió clases a los alumnos de los primeros ciclos para mejorar su aprendizaje continuo. felicidades."
      />
      <CardPeople
        link="https://www.linkedin.com/in/fabriziomayor/"
        image="../../sebastian.jpg"
        name="Fabrizio Mayor C."
        work="Cloud Architect Trainee"
        description="Great soft skills and always with innovative ideas!"
      />
      <CardPeople
        link="https://www.linkedin.com/in/renzo-hijar-muchcco/"
        image="../../sebastian.jpg"
        name="Renzo Hijar M."
        work="System Engineer"
        description="Sebastian es un estudiante talentoso y perseverante, con una capacidad de superación destacable. Su creatividad y esfuerzo lo llevarán a grandes logros tanto en su desarrollo académico como profesional."
      />
      <CardPeople
        link="https://www.linkedin.com/in/luisbalarezo/"
        image="../../sebastian.jpg"
        name="Luis Balarezo R."
        work="Data Analyst"
        description="I've had the pleasure of working with Sebastian, and I can confidently say he's a skilled professional. During our time at UNMSM, Sebastian's strong skills in machine learning became evident. His expertise is solid."
      />
      <CardPeople
        link="https://www.linkedin.com/in/stefano-hernandez/"
        image="../../sebastian.jpg"
        name="Stefano Hernández B."
        work="Backend Developer"
        description="Sebastian destaca por su potencial, conocimientos en Machine Learning y Minería de Datos, y dominio de Python para análisis de datos. Además, sobresale por sus habilidades blandas y trabajo en equipo, siendo un colaborador comunicativo y receptivo. Será un gran aporte en cualquier proyecto."
      />
      <CardPeople
        link="https://www.linkedin.com/in/diego-andr%C3%A9-falla-gallegos-a2172b236/"
        image="../../sebastian.jpg"
        name="Diego Falla G."
        work="Backend Developer"
        description="Sebastian es un profesional apasionado y dedicado a la inteligencia artificial, siempre actualizado y dispuesto a compartir su conocimiento. Destaca por su capacidad para resolver problemas complejos y trabajar en equipo. Su entusiasmo por el aprendizaje y la excelencia lo convierten en un activo valioso. Lo recomiendo sin reservas y estoy seguro de su éxito."
      />
      <CardPeople
        link="https://siis.unmsm.edu.pe/es/persons/luis-angel-guerra-grados"
        image="../../sebastian.jpg"
        name="Luis Guerra G."
        work="Professor"
        description="En referencia a una parte académica fue mi ayudante de cátedra en el curso “Diseño y análisis de algoritmos” en el ciclo 2024-1 en la Escuela de Ingeniería de Sistemas, durante el desarrollo tuvo un excelente desempeño con valores, principios, honestidad, veracidad."
      />
      <CardPeople
        link="https://www.linkedin.com/in/kenneth-evander-ortega-moran-532812238/"
        image="../../sebastian.jpg"
        name="Kenneth Ortega M."
        work="Cybersecurity"
        description="Sebastian es un alumno ejemplar y se desempeña bien en el área de ingeniería, impartió clases a los alumnos de los primeros ciclos para mejorar su aprendizaje continuo. felicidades."
      />
      <CardPeople
        link="https://www.linkedin.com/in/fabriziomayor/"
        image="../../sebastian.jpg"
        name="Fabrizio Mayor C."
        work="Cloud Architect Trainee"
        description="Great soft skills and always with innovative ideas!"
      />
      <CardPeople
        link="https://www.linkedin.com/in/renzo-hijar-muchcco/"
        image="../../sebastian.jpg"
        name="Renzo Hijar M."
        work="System Engineer"
        description="Sebastian es un estudiante talentoso y perseverante, con una capacidad de superación destacable. Su creatividad y esfuerzo lo llevarán a grandes logros tanto en su desarrollo académico como profesional."
      />
      <CardPeople
        link="https://www.linkedin.com/in/luisbalarezo/"
        image="../../sebastian.jpg"
        name="Luis Balarezo R."
        work="Data Analyst"
        description="I've had the pleasure of working with Sebastian, and I can confidently say he's a skilled professional. During our time at UNMSM, Sebastian's strong skills in machine learning became evident. His expertise is solid."
      />
      <CardPeople
        link="https://www.linkedin.com/in/stefano-hernandez/"
        image="../../sebastian.jpg"
        name="Stefano Hernández B."
        work="Backend Developer"
        description="Sebastian destaca por su potencial, conocimientos en Machine Learning y Minería de Datos, y dominio de Python para análisis de datos. Además, sobresale por sus habilidades blandas y trabajo en equipo, siendo un colaborador comunicativo y receptivo. Será un gran aporte en cualquier proyecto."
      />
      <CardPeople
        link="https://www.linkedin.com/in/diego-andr%C3%A9-falla-gallegos-a2172b236/"
        image="../../sebastian.jpg"
        name="Diego Falla G."
        work="Backend Developer"
        description="Sebastian es un profesional apasionado y dedicado a la inteligencia artificial, siempre actualizado y dispuesto a compartir su conocimiento. Destaca por su capacidad para resolver problemas complejos y trabajar en equipo. Su entusiasmo por el aprendizaje y la excelencia lo convierten en un activo valioso. Lo recomiendo sin reservas y estoy seguro de su éxito."
      />
      <CardPeople
        link="https://siis.unmsm.edu.pe/es/persons/luis-angel-guerra-grados"
        image="../../sebastian.jpg"
        name="Luis Guerra G."
        work="Professor"
        description="En referencia a una parte académica fue mi ayudante de cátedra en el curso “Diseño y análisis de algoritmos” en el ciclo 2024-1 en la Escuela de Ingeniería de Sistemas, durante el desarrollo tuvo un excelente desempeño con valores, principios, honestidad, veracidad."
      />
    </div>
  </div>
</section>

<style>
  /*------------------ Personas Section ------------------*/
  .testimonial-section {
    display: flex;
    text-align: center;
    flex-direction: column;
  }

  /* Contenedor principal del carrusel */
  .slider {
    position: relative; /* Permite posicionar correctamente los pseudo-elementos */
    margin: auto;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    max-width: 1000px; /* Ancho máximo para pantallas grandes */
  }
  /* Pseudo-elementos para aplicar gradientes en los bordes */
  .slider::before,
  .slider::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px; /* Ancho del gradiente en pantallas grandes */
    z-index: 2;
  }

  .slider::before {
    left: 0;
    background: linear-gradient(to right, #EBBB5B, rgba(23, 38, 112, 0));
  }

  .slider::after {
    right: 0;
    background: linear-gradient(to left, #00BBFF, rgba(23, 38, 112, 0));
  }

  .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    width: calc(250px * 14);
    height: auto;
  }

  /* Animación para el desplazamiento */
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(
        calc(-250px * 7)
      ); /* Ajusta según la cantidad de slides visibles */
    }
  }

  /* Media Query para dispositivos móviles */
  @media (max-width: 800px) {
    .slider {
      max-width: 100%; /* Ocupa todo el ancho de la pantalla */
    }
    .slide-track {
      width: calc(60px * 14); /* Ajusta el ancho de cada slide para móviles */
      animation: scroll 40s linear infinite;
    }
    /* Reducir el ancho del gradiente en móviles para adaptarse al tamaño */
    .slider::before,
    .slider::after {
      width: 10%;
    }
  }
</style>