---
import CardPeople from "./CardPeople.astro";
---

<section id="testimonio" class="testimonial-section">
  <div class="slider">
    <div class="slide-track">
      <CardPeople
        link="https://www.linkedin.com/in/kevin-tupac-ag%C3%BCero/"
        image="../img/kevin.webp"
        name="Kevin Tupac A."
        work="Data Scientist"
        description="Conozco a Sebastian desde primeros ciclos y a demostrado responsabilidad, además que he visto habilidades resaltantes en cursos como IA, de su labor en la san marcos trabajando en proyectos relacionados a este campo."
      />
      <CardPeople
        link="https://www.linkedin.com/in/fabriziomayor/"
        image="../img/fabrizio.webp"
        name="Fabrizio Mayor C."
        work="Cloud Architect Trainee"
        description="With a solid foundation in AI, Sebastian excels at applying predictive models in real-world environments, transforming data into intelligent decisions. His profile is ideal for projects requiring innovation and advanced automation."
      />
      <CardPeople
        link="https://www.linkedin.com/in/joaquin-enrique-hidalgo-cock-1a801a2ab/"
        image="../img/joaquin.webp"
        name="Joaquin Hidalgo C."
        work="Backend Developer"
        description="Sebastian es un profesional apasionado por el análisis de datos, siempre dispuesto a aprender y colaborar. Destaca por afrontar retos con entusiasmo y aportar valor al equipo. Sin duda, lo recomiendo."
      />
      <CardPeople
        link="https://www.linkedin.com/in/aromch/"
        image="../img/arom.webp"
        name="Arom Avila C."
        work="Analista de Datos"
        description="Sebastian es un excelente colega para trabajar. Cuenta con una excelente capacidad para estructurar, limpiar y visualizar datos. Facilita la comprensión de indicadores clave en cualquier entorno de trabajo."
      />
      <CardPeople
        link="https://www.linkedin.com/in/gianfranco-henry-ore-paredes-002126265/"
        image="../img/gianfranco.webp"
        name="Gianfranco Ore P."
        work="Full Stack Developer"
        description="Tuve el gusto de trabajar con Sebastian y puedo destacar su gran capacidad para ejecutar procesos de ETL de manera eficiente, integrando datos provenientes de diversas fuentes. Contribuyó significativamente a la automatización de tareas, eliminando procesos repetitivos y optimizando el uso del tiempo en el equipo."
      />
      <CardPeople
        link="https://www.linkedin.com/in/kevin-tupac-ag%C3%BCero/"
        image="../img/kevin.webp"
        name="Kevin Tupac A."
        work="Data Scientist"
        description="Conozco a Sebastian desde primeros ciclos y a demostrado responsabilidad, además que he visto habilidades resaltantes en cursos como IA, de su labor en la san marcos trabajando en proyectos relacionados a este campo."
      />
      <CardPeople
        link="https://www.linkedin.com/in/fabriziomayor/"
        image="../img/fabrizio.webp"
        name="Fabrizio Mayor C."
        work="Cloud Architect Trainee"
        description="With a solid foundation in AI, Sebastian excels at applying predictive models in real-world environments, transforming data into intelligent decisions. His profile is ideal for projects requiring innovation and advanced automation."
      />
      <CardPeople
        link="https://www.linkedin.com/in/joaquin-enrique-hidalgo-cock-1a801a2ab/"
        image="../img/joaquin.webp"
        name="Joaquin Hidalgo C."
        work="Backend Developer"
        description="Sebastian es un profesional apasionado por el análisis de datos, siempre dispuesto a aprender y colaborar. Destaca por afrontar retos con entusiasmo y aportar valor al equipo. Sin duda, lo recomiendo."
      />
      <CardPeople
        link="https://www.linkedin.com/in/aromch/"
        image="../img/arom.webp"
        name="Arom Avila C."
        work="Analista de Datos"
        description="Sebastian es un excelente colega para trabajar. Cuenta con una excelente capacidad para estructurar, limpiar y visualizar datos. Facilita la comprensión de indicadores clave en cualquier entorno de trabajo."
      />
      <CardPeople
        link="https://www.linkedin.com/in/gianfranco-henry-ore-paredes-002126265/"
        image="../img/gianfranco.webp"
        name="Gianfranco Ore P."
        work="Full Stack Developer"
        description="Tuve el gusto de trabajar con Sebastian y puedo destacar su gran capacidad para ejecutar procesos de ETL de manera eficiente, integrando datos provenientes de diversas fuentes. Contribuyó significativamente a la automatización de tareas, eliminando procesos repetitivos y optimizando el uso del tiempo en el equipo."
      />
    </div>
  </div>
</section>

<style>
  /*------------------ Personas Section ------------------*/
  .testimonial-section {
    display: flex;
    text-align: center;
    flex-direction: column;
  }

  /* Contenedor principal del carrusel */
  .slider {
    position: relative; /* Permite posicionar correctamente los pseudo-elementos */
    margin: auto;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    max-width: 1000px; /* Ancho máximo para pantallas grandes */
  }
  /* Pseudo-elementos para aplicar gradientes en los bordes */
  .slider::before,
  .slider::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px; /* Ancho del gradiente en pantallas grandes */
    z-index: 2;
  }

  .slider::before {
    left: 0;
    background: linear-gradient(to right, #EBBB5B, rgba(23, 38, 112, 0));
  }

  .slider::after {
    right: 0;
    background: linear-gradient(to left, #00BBFF, rgba(23, 38, 112, 0));
  }

  .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    width: calc(250px * 14);
    height: auto;
  }

  /* Animación para el desplazamiento */
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(
        calc(-250px * 7)
      ); /* Ajusta según la cantidad de slides visibles */
    }
  }

  /* Media Query para dispositivos móviles */
  @media (max-width: 800px) {
    .slider {
      max-width: 100%; /* Ocupa todo el ancho de la pantalla */
    }
    .slide-track {
      width: calc(60px * 14); /* Ajusta el ancho de cada slide para móviles */
      animation: scroll 40s linear infinite;
    }
    /* Reducir el ancho del gradiente en móviles para adaptarse al tamaño */
    .slider::before,
    .slider::after {
      width: 10%;
    }
  }
</style>